// Variables de couleur
$primary-color: #007bff;
$border-color-default: #e9e9e9;
$selected-border-color: #f64747;
$selected-background: #4f99ff;
$day-color: #404848;
$bg-hover: #f1f1f1;

// Variables de police
$font: "Quicksand";
$bold: "Quicksand-bold";

// Réinitialisation des marges et des rembourrages
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Styles pour l'en-tête
header {
  display: block;

  .header-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .logo-burger {
      display: none;

      a {
        img {
          height: 50px;
          width: 50px;
        }
      }

      @media screen and (max-width: 780px) {
        display: block;
      }
    }

    .logo {
      @media screen and (max-width: 780px) {
        display: none;
      }

      a {
        img {
          height: 130px;
          width: 130px;
        }
      }
    }

    .user,
    .cart a {
      img {
        height: 30px;
      }
    }

    .user a,
    .cart a {
      text-decoration: none;
      margin-bottom: 20px;
      text-transform: uppercase;
      text-align: center;
      line-height: 0.95;
      max-width: 50%;
      padding: 0.3rem;
      max-height: 2.4rem;
      margin-top: 0.2rem;
      min-height: 1.2rem;
      align-items: center;

      span {
        color: #323232;
        font-size: 12px;
      }
    }

    .search-bar {
      display: flex;
      align-items: center;

      form {
        display: flex;

        input[type="text"] {
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          margin-right: 10px;
        }

        button {
          background-color: $primary-color;
          color: white;
          border: none;
          border-radius: 5px;
          padding: 10px 20px;
          cursor: pointer;
        }
      }
    }
  }

  .categorie {
    @media screen and (max-width: 780px) {
      display: none;

      &.active {
        display: block;
      }
    }

    text-transform: uppercase;
    width: 100%;
    background: #eaeaea;
    padding-top: 20px;
    height: 50px;
    align-items: center;
    justify-content: space-around;

    nav {
      ul {
        @media screen and (max-width: 780px) {
          flex-direction: column;
        }

        display: flex;
        justify-content: space-around;
        list-style: none;
        padding: 0;

        li {
          @media screen and (max-width: 780px) {
            margin: 15px;
          }

          position: relative;

          a {
            text-decoration: none;
            font-size: 1.3rem;
            font-family: $font, "Helvetica Neue", Helvetica, Arial, sans-serif;
            padding: 20px;
            color: $selected-background;
          }

          ul {
            display: none;
            position: absolute;
            top: 50px;
            left: 0;
            background-color: $selected-background;

            li {
              a {
                padding: 10px 20px;
                color: $day-color;
              }
            }
          }

          &:hover ul {
            display: block;
          }
        }
      }
    }
  }
}

// Styles pour le corps
body { 

  

  height: auto;
  /*.................................styles Formulaire register***********************/
  // #register{
   
  // }
 
  #home-page {
    height: auto;
    /* ......................................styles slider ... */

  
    h3 {
      font-family: "Open Sans", "sans-serif";
      margin: 50px;
    }
    .slider-btns{
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 30px auto 10px auto;
      padding: 10px auto;
     
    }
    .slider-btns button{
      position: static !important;
      transform: translate(0,0);
      background-color: #f3f3f3;
      width: 80px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      border-radius: 4px;
      border-radius: 1px solid #cfcfcf;
      span{
        font-weight: bold;
        padding: 10px 15px 10px 10px;
        position: relative;
        text-decoration: none;
        color: #4f99ff;
      }
      
    }
    .p-slider {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 50px auto;
      width: 95%;
    }
    .product-slider-heading {
      font-size: 28px;
      text-transform: uppercase;
      color: #313131;
      text-align: center;
      margin: 0px;
    }
    .product-box {
      display: flex;
      flex-direction: column;
      width: 300px;
      padding: 15px;
      border: 1px solid rgba(0, 0, 0, 0.08);
      margin: 0px 20px;
    }
    .p-img-container {
      width: 100%;
      height: 100%;
      display: flex;
      overflow: hidden;
    }
    //  .p-img a img{
    //   height: 250px;
    //  }
    .p-img a img,
    .p-img {
      width: 100%;
      height: 300px;
      display: flex;
    }
    .p-img a img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: contain;
      animation: fade 0.6s;
    }
    .p-img-back {
      display: none;
    }
    .p-img-container:hover .p-img-back {
      display: block;
    }
    .p-img-container:hover .p-img-front {
      display: block;
    }
    @keyframes fade{
      0%{
        opacity: 0;
      }
      100%{
        opacity: 1;
      }
    }
    .p-box-text{
      margin-top: 50px;
      width: 100%;
      .product-category{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        span{
          color: #acacac;
          font-size: 0.9rem;
          margin: 5px 0px;
        }
      }
    }
    .product-title{
      color: #333333;
      font-weight: 600;
      text-decoration: none;
      transition: all ease 0;
    }
    .product-title:hover{
      color: #111;
      opacity: 0.7;
      transition: all ease 0.3s;
    }
    .price-buy{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 8px;
      .p-price{
        font: size 1.3rem;
        color: #333333;
        font-weight: 700;
      }
      .p-price, .p-buy-btn{
      
        color: #4f99ff;
        margin: 0 5px;
        font-weight: 600;
      }
      .p-price, .p-buy-btn:hover{
        text-decoration: underline;
      }
    }
  }
}

// Styles pour le pied de page
footer {
  @media screen and (max-width: 780px) {
    .paimenent-carte {
      margin: 20px;
    }
  }

  padding-top: 20px;
  background-color: $primary-color;

  .contact a {
    text-decoration: none;
    display: flex;
    color: black;
  }

  .o-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .information a {
    display: block;
    text-decoration: none;
    color: black;
  }

  .social-media {
    justify-content: space-evenly;
  }

  h3 {
    text-align: center;
    color: $day-color;
    padding: 20px;
  }
}
